.about {
  height: 100%;
  width: 100%;
  padding-left: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    .h1 {
      margin-left: 4em;
      h1 {
        padding: 0;
        margin: 0;
        font-size: 5em;
      }
    }
    p {
      font-size: 1.5em;
      @media (max-width: 1300px) {
        max-width: 90%;
      }
      @media (min-width: 1300px) {
        max-width: 80%;
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  @media (min-width: 1000px) and (max-width: 1600px) {
    padding-top: calc(50%);
  }
  @media (min-width: 1500px) {
    padding-top: calc(50% - 200px);
  }
  margin-left: 0;
  // position: absolute;
  // top: 0;
  // right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .light-div{
    box-shadow: 0 0 20px 0px rgb(165 165 165);
    background: rgb(139 139 139 / 4%);
  }
  .dark-div{
    box-shadow: 0 0 20px 0px lightyellow;
    background: rgba(255, 255, 255, 0.4);
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
