.projects {
  height: 100%;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .project {
    background-color: red;
    border: solid 2px #000;
  }
}
