@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

.nav-bar {
  user-select: none;
  padding-bottom: 1em;
  z-index: 5;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    img {
      width: 40px;
    }
    p {
      margin: 2px;
      font-size: 1.5em;
      font-family: "Protest Riot", sans-serif;
    }
  }
  nav {
    transition: all 0.3s ease-out;
    left: 100%;
    a {
      font-size: 22px;
      color: #4d4d4e;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }
    a.home-link {
      &:after {
        content: "Home";
      }
    }
    a.about-link {
      &:after {
        content: "About";
        transform: translateX(-10%);
      }
    }
    a.resume-link {
      &:after {
        content: "Resume";
        transform: translateX(-50%);
      }
    }
    a.work-link {
      &:after {
        content: "Work";
      }
    }
    a.contact-link {
      &:after {
        content: "Contact";
        transform: translateX(-50%);
      }
    }

    .dark:hover,
    .dark.active svg {
      color: #ffd700;
    }
    .light:hover,
    .light.active svg {
      color: red;
    }
  }
  .burger{
    z-index: 10;
    position: absolute;
    right: 20px;
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    .line{
      width: 50px;
      border-radius: 10px;
      height: 5px;
      background: #4d4d4e;
      transition: transform 0.2s ease-in-out;
    }
  }
  .burger.highlight{
    .line-1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .line-2 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
  .bottom {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        a {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          svg {
            width: 30%;
            margin: 5px 0;
          }
          svg:hover {
            fill: #8c8c8d;
          }
        }
      }
    }
  }
}
