html {
  font-size: 62.5%;
  overflow: hidden;
}

:root {
  --light-bg: #eaeaea;
  --dark-bg: #022c43;
  --sidebar-width: 60px;
  --sidebar-height: 20px;
  --primary-color: #ffd700;
}

@media (max-width: 768px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

button {
  cursor: pointer;
  user-select: none;
}
button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}

.blur-div.loaded::before {
  content: none;
}
.blur-div::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: loadBlurry 1s infinite;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  transform-origin: bottom;
  z-index: 3;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  transform-origin: top;
  z-index: 3;
}

@keyframes loadBlurry {
  0% {
    background-color: rgba(255, 254, 254, 0);
  }
  50% {
    background-color: rgba(255, 254, 254, 0.1);
  }
  100% {
    background-color: rgba(255, 254, 254, 0);
  }
}
